Flask==2.0.1
Flask-SQLAlchemy==2.5.1
Flask-CORS==3.0.10
requests==2.26.0
PyYAML==5.4.1
apscheduler==3.7.0
ping3==2.7.0
SQLAlchemy==1.4.23
Werkzeug==2.0.1
Jinja2==3.0.1
itsdangerous==2.0.1
click==8.0.1
MarkupSafe==2.0.1
pytz==2021.1
six==1.16.0
tzlocal==2.1
urllib3==1.26.6
certifi==2021.5.30
chardet==4.0.0
idna==2.10